# dev 
[DEV]
WORKER_ACCOUNT = worker
WORKER_PASSWORD = your_password
RABBITMQ_HOST = 127.0.0.1
RABBITMQ_PORT = 5672
MYSQL_HOST = 127.0.0.1
MYSQL_PORT = 3306
MYSQL_ACCOUNT = root
MYSQL_PASSWORD = your_password
MYSQL_DATABASE = your_database


# Docker 
[DOCKER]
WORKER_ACCOUNT = worker
WORKER_PASSWORD = your_password
RABBITMQ_HOST = rabbitmq
RABBITMQ_PORT = 5672
MYSQL_HOST = mysql
MYSQL_PORT = 3306
MYSQL_ACCOUNT = root
MYSQL_PASSWORD = your_password
MYSQL_DATABASE = your_database


GCP_PROJECT_ID=your_project_id
BQ_DATASET=ecommerce
BQ_LOCATION=us-central1
GCS_BUCKET=your_gcs_bucket



[PRODUCTION]
WORKER_ACCOUNT = worker
WORKER_PASSWORD = your_password
RABBITMQ_HOST = rabbitmq
RABBITMQ_PORT = 5672
MYSQL_HOST = mysql
MYSQL_PORT = 3306
MYSQL_ACCOUNT = root
MYSQL_PASSWORD = your_password
MYSQL_DATABASE = your_database
