DOCKER_IMAGE_VERSION=0.0.19
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ACCOUNT=root
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=headphone_db
AIRFLOW_DB_CONN=mysql+mysqldb://user:password@mysql:3306/headphone_db
GCP_PROJECT_ID=your_project_id
BQ_DATASET=ecommerce
BQ_LOCATION=us-central1
GCS_BUCKET=your_gcs_bucket
